body{ font: 62.5% Cambria, Georgia, serif; margin: 50px;}

#next_button {
  float:right;
}

#prev_button {
  float:right;
}

#content_title {
  position:relative;
  margin-left:55%;
}
#content_date {
  position:relative;
  margin-left:8%;
}
#content_hit {
  float:right;
}
